Core_project/src/main/java/com/core/model/Discussion_commentVO.java
Core_project/src/main/java/com/core/model/Discussion_postVO.java
Core_project/target/classes/com/core/model/Discussion_commentVO.class
Core_project/target/classes/com/core/model/Discussion_postVO.class
