@charset "UTF-8";

.main_banner {
	background-image: url("../../images/proposal_banner.png");
	background-color: #FFFBF1;
}

.basic_btn {
	margin-top: 20px;
}

.tabs {
    width: 80%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs a {
    width: 20%;
    background-color: yellow;
}