@charset "UTF-8";

/* 배너 */
.main_banner {
   background-image: url("../../images/proposal_banner.png");
   background-color: #F0F7FF;
}

.banner_title {
   color: #F8C866;
}

.basic_btn {
   margin-top: 20px;
}

/* 탭 컨테이너 */
.tabs {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #282828;
    border-radius: 5px;
    margin-bottom: 40px;
}

/* 탭 기본 스타일 */
.tabs a {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    color: #282828;
    padding: 20px 0;
}

/* 탭 사이 구분선 */
.tabs a:not(:last-child) {
    border-right: 2px solid #282828;
}

/* 활성화된 탭 */
.tabs a.active {
    background-color: #4C9DF8; /* 파란 배경 */
    color: #FFFFFF;            /* 흰 글자 */
    font-weight: 600;
}

/* 제안 목록 레이아웃 */
#proposal_list {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.search_box_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.search_box {
    width: 33%;
    box-sizing: border-box;
    padding: 20px 15px;
    border: 2px solid #282828;
}

.tabs a.active {
  background-color: #4C9DF8 !important;
  color:            #FFFFFF !important;
  font-weight:      600 !important;
}