@charset "UTF-8";

.main_banner {
	background-image: url("../../images/discuss_banner.png");
	background-color: #F0F7FF;
}

.basic_btn {
	margin-top: 20px;
}

.discuss_search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
}

.search_range, .search_category {
	width: 15%;
    background-color: #F6F6F6;
	border: 2px solid #3E3E3E;
	border-radius: 10px;
	box-sizing: border-box;
	height: 45px;
	padding: 10px;
	font-family: Pretendard;
	font-weight: 400;
	font-size: 16px;
}

.search_bar {
    width: 53% !important;
}