@charset "UTF-8";

.main_banner {
	background-image: url("../../images/discuss_banner.png");
	background-color: #F7F7F7;
}

.basic_btn {
	margin-top: 50px;
}

.main_banner .basic_btn {
	margin-top: 20px;
}

.discuss_search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
    margin-bottom: 20px;
}

.discuss_box:hover {
    background-color: #fffbeb;
    border: 2px solid #6b5a0d;
}

.search_range, .search_category {
	width: 15%;
    background-color: #F6F6F6;
	border: 2px solid #3E3E3E;
	border-radius: 10px;
	box-sizing: border-box;
	height: 45px;
	padding: 10px;
	font-family: Pretendard;
	font-weight: 400;
	font-size: 16px;
}

.search_bar {
    width: 69% !important;
}

.discuss_content_list {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.discuss_box_link {
	width: calc(50% - 5px);
}

.discuss_box {
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 20px 15px;
	background-color: #FFFCF2;
	border: 2px solid #262626;
	border-radius: 5px;
	transition: box-shadow 0.2s;
}

.discuss_box_header {
    width: 100%;
    font-family: Pretendard;
	font-size: 15px;
	color: #d59e2f;
    margin-bottom: 10px;
}

.discuss_box_content {
    border-bottom: 1px solid #F8C866;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.discuss_box_content_date {
    font-family: Pretendard;
	font-size: 14px;
	color: #595959;
	margin-bottom: 2px;
}

.discuss_box_content_title {
    font-family: Pretendard;
	font-size: 20px;
	font-weight: 600;
	color: #262626;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
}

.discuss_box_content_AItitle {
    font-family: Pretendard;
    font-weight: 600;
	font-size: 15px;
	color: #444444;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.discuss_box_content_AI {
    font-family: Pretendard;
	font-size: 15px;
	color: #444444;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 5px;
}

.discuss_box_footer {
    display: flex;
	color: #444444;
}

.discuss_box_footer_name {
    margin-left: 5px;
    margin-right: 20px;
	padding-top: 4px;
}