@charset "UTF-8";

#wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search_banner {
	width: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding-top: 165px;
	padding-bottom: 195px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner_title {
	font-family: SBAggro;
	font-weight: 700;
	font-size: 45px;
}

.banner_body {
	font-family: Pretendard;
	font-weight: 400;
	font-size: 20px;
	color: #717171;
}

.search_bar {
	background-color: #F6F6F6;
	border: 2px solid #3E3E3E;
	border-radius: 10px;
	box-sizing: border-box;
	height: 45px;
	padding: 10px;
	font-family: Pretendard;
	font-weight: 400;
	font-size: 16px;
	width: 80%;
}

.submit_btn {
	background-color: #F8C866;
	border: 2px solid #3E3E3E;
	border-radius: 10px;
	box-sizing: border-box;
	height: 45px;
	padding: 10px;
	font-family: Pretendard;
	font-weight: 400;
	font-size: 16px;
	width: 15%;
}

.list_title_div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 60px;
	width: 100%;
}

.list_title {
	font-family: Pretendard;
	font-size: 30px;
	font-weight: 600;
	color: #262626;
	margin-bottom: 5px;
}

.list_body {
	font-family: Pretendard;
	font-size: 20px;
	font-weight: 400;
	color: #717171;
}

.content_list_container {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.basic_btn {
	margin-top: 50px;
	background-color: #262626;
	color: white;
	font-family: Pretendard;
	font-size: 20px;
	border: none;
	padding: 15px 25px;
	border-radius: 5px;
}

.basic_btn:hover {
	transition-duration: 0.5s;
	opacity: 0.9;
}



