@charset "UTF-8";

/* 초기화 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#search_banner {
	width: 100%;
	background-image: url("../../images/similar_banner.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding-top: 165px;
	padding-bottom: 195px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

#search {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#search form {
	width: 60%;
}

.banner_title{
	color: #4C9DF8;
}









